:root {
    --header_color: #1F2933;
    --font_color: #d3e5fa;
    --border_color: #c7cfd8;
    --text_font: Helvetica, Arial, sans-serif;
    --alt_color: #2196F3;
    --glow_color: rgba(24, 190, 245, 0.5);
}

*:focus {
    outline: none;
}

html{
    margin: 0;
    height: 100%;
}

body{
    margin: 0;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    background-color: var(--header_color);
}

#header:hover > .fade-effect{
    opacity: 0.2;
}

#header:hover > .fade-effect:hover{
    opacity: 1;
    color: var(--alt_color);
}

#resume_link:hover{
    color: var(--alt_color);
}

.header_button{
    border: none;
    background-color: var(--header_color);
    cursor: pointer;
    padding: 0 10px 0 10px;
    position: relative;
    top: 50px;
    height: 50px;
}

.header_font{
    font-family: var(--text_font);
    color: var(--font_color);
    font-size: 1.2rem;
}

#resume_link{
    text-decoration: none;
}

#header{
    display: grid;
    grid-template-columns: 3fr repeat(18, 1fr);
    padding-top: 2%;
    background-color: var(--header_color);
    position: relative;
    padding-left: 10%;
    margin-bottom: 1%;
    height: 80px;
}

#title{
    color: var(--font_color);
    cursor: pointer;
    font-size: 2.7rem;
}

#center{
    display: flex;
    background-color: var(--header_color);
    align-items: center;
    justify-items: center;
}

#footer{
    height: 2rem;
    display: flex;
    background-color: var(--header_color);
    justify-content: center;
    position: relative;
    top: 100px;
}

.brands{
    cursor: pointer;
    font-size: 2.2rem;
    color: var(--font_color);
    padding-left: 12px;
    text-decoration: none;
}

.brands:hover{
    color: var(--alt_color);
}

.fa-sharp{
    font-size: 2rem;
    color: var(--font_color);
    cursor: pointer;
}

.fa-sharp:hover{
    color: var(--alt_color);
    text-shadow:0px 0px 20px var(--alt_color), 0px 0px 20px var(--glow_color);
}

.arrows{
    display: flex;
    align-items: center;
    width: clamp(40px, 5%, 100px);
}


#left{
    position: relative;
    top: 0px;
    left: 0px;
}

#right{
    position: relative;
    top: 0px;
    left: 0px;
}

#contact{
    width: 100%;
    display: none;
    grid-template-columns: 1fr;
}

#contact:hover > .contacts{
    opacity: 0.2;
}

#contact:hover > .contacts:hover{
    opacity: 1;
    color: var(--alt_color);
}

.contacts{
    text-align: center;
    text-decoration: none;
    font-family: var(--text_font);
    font-size: clamp(1.5rem, 4vw, 2rem);
    color: var(--font_color);
    padding-bottom: 10px;
}

#about{
    width: 100%;
    font-family: var(--text_font);
    font-size: clamp(2rem, 4vw, 2.5rem);
    color: var(--font_color);
    text-align: center;
    padding: 0 18% 0 19%;
}

#technical{
    font-size: clamp(1.2rem, 4vw, 1.5rem);
    font-family: var(--text_font);
    color: var(--alt_color);
    text-align: center;
    padding-top: 3rem;
}

#tech_icons{
    padding-top: 10px;
}

#projects{
    display: grid;
    grid-template-columns: 1fr 16fr 1fr;
    width: 100%;
    height: 95%;
    padding-left: 20%;
    padding-right: 15%;
}

.pro_img{
    width: 100%;
    height: 100%;
}

.image_cont{
    width: 320px;
    height: 420px;
    overflow: hidden;
    border: 3px solid var(--alt_color);
    border-radius: 5px;
    flex: none;
}

.image_cont:hover{
    box-shadow: 0 0 5px 3px var(--glow_color);
}

.pro_desc{
    padding-left: 3%;
}

.text{
    font-family: var(--text_font);
    color: var(--font_color);
}

.project_title{
    text-align: left;
    font-size: 2.5rem;
}

.project_title:hover{
    color: var(--alt_color);
    text-shadow:0px 0px 25px var(--alt_color), 0px 0px 25px var(--glow_color);
}

.title_link{
    text-decoration: none;
}

#dental_demo{
    text-decoration: none;
    flex: none;
    position: relative;
    top: 1rem;
}

.demo_text{
    width: 10rem;
    text-decoration: none;
    font-weight: bold;
    border: solid 3px;
    margin-left: 10px;
}

.demo_text:hover{
    color: var(--alt_color);
    box-shadow: 0 0 5px 3px rgba(24, 190, 245, 0.5);
}

.language_cont{
    flex: none;
    width: 14rem;
    position: relative;
    top: 1.5rem;
}

.colored{
    font-size: 4rem;
}

.paragraph{
    width: 70%;
    text-align: left;
    font-size: 1.5rem;
}

.items{
    display:flex;
    width: 100%;
    height: 100%;
    text-align: center;
}

#icon_one {
    position: absolute;
    top: 10px;
}

#icon_two {
    position: absolute;
    top: 15px;
    
}

#icon_three {
    position: absolute;
    top: 20px;
}

.menu_icon {
    width: 25px;
    height: 2px;
    left: 15px;
    background-color: var(--alt_color);
}

.menu_content{
    position: relative;
    left: -35px;
    top: 5px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    padding-left: 5px;
    padding-top: 8px;
    width: 80px;
    height: 27px;
    cursor: pointer;
}

.content_font{
    font-family: var(--text_font);
    color: var(--font_color);
}

.content_font:hover{
    color: var(--alt_color);
}


#drop_btn{
    width: 60px;
    height: 35px;
    position: absolute;
    right: 5%;
    top: 85px;
    border: 2px solid var(--border_color);
    background-color: var(--head_color);
    border-radius: 4px;
    transition-duration: 0.4s;
    display: none;
}

#drop_btn:hover {
    background-color: var(--font_color);
}

#dropdown_content{
    list-style-type: none;
    display: none;
    position: absolute;
    right: 0px;
    top: 22px;
    width: 80px;
    height: 115px;
    background-color:rgb(31, 52, 66);
    box-shadow: 0px 5px 5px 0px #00131f;
}